<div class="container-fluid fh5co_footer_right_reserved">
        <div class="container">
            <div class="row  ">
                <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2021, All rights reserved. Design by <a href="https://www.facebook.com/PhongxKaster/" title="Free HTML5 Bootstrap templates">PhongKaster</a>. </div>
                <div class="col-12 col-md-6 spdp_right py-4">
                    <a href="#home" class="footer_last_part_menu">Home</a>
                    <a href="/contact" class="footer_last_part_menu">About</a>
                    <a href="/contact" class="footer_last_part_menu">Contact</a>
                    <a href="/blog" class="footer_last_part_menu">Latest News</a></div>
            </div>
        </div>
    </div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- Modernizr JS -->
<script src="/javascripts/modernizr-3.5.0.min.js"></script>
<script src="/javascripts/customized.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="/javascripts/jquery.waypoints.min.js"></script>
<!-- <script src="/javascripts/jquery.stellar.min.js"></script> -->
<!-- Main -->
<script src="/javascripts/main.js"></script>

</body>
</html>